/* 처음에 자주 쓰는 책이나, 폰트 사이즈를 글로벌로 정의해서 사용하는 것이 좋다. */
/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

/*Universal tags*/
* {
    box-sizing: border-box;
}

/* 텍스트에 대한 설정을 할 것임.
Typography
 */

 /* 마진을 위아래로 8씩 주자. */

 body{
   margin: 0;
   font-family: sans-serif;
 }

 a{
   text-decoration: none;
   color: var(--color-white);
 }

 u{
   list-style: none;
   padding-left: 0;
 }

 button{
   /* 버튼의 기본속성을 없애는 과정 */
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
 }

 h1 {
   font-size: var(--font-large);
   font-weight: var(--weight-bold);
   color: var(--color-black);
   margin: 16px 0; 
   /* 마진에 원소개수 두개면 위아래 양옆.  4개면 시계방향*/
 }

 h2 {
   font-size: var(--weight-regular);
   font-weight: var(--weight-semi-bold);
   color: var(--color-black);
   margin: 8px 0;
 }

 h3 {
   font-size: var(--font-regular);
   font-weight: var(--weight-regular);
   color: var(--color-black);
   margin: 8px 0;
 }

  p {
   font-size: var(--font-regular);
   font-weight: var(--weight-regular);
   color: var(--color-black);
   margin: 4px 0;
 }

 /* Navbar */

 #navbar{
   display: flex;
   justify-content: space-between;
   background-color: var(--color-pink);
   align-items:center;
   color: var(--color-white);
   padding: 16px;
 }

 .navbar__menu{
   display: flex;
 }

 .navbar__logo{
   font-size: var(--font-medium);
   font-weight: var(--weight-semi-bold);
 }

 .navbar__menu__item{
   padding: 8px 12px;
   margin: 0 4px;
   /* 마우스를 갖다대면 마우스가 손모양이 되도록 */
   cursor: pointer;
   border-radius: var(--size-border-radius);
 }

 .navbar__menu__item.active{
   border: 1px solid var(--color-white);
 }

/* 마우스가 올라간 상태일때. */
 .navbar__menu__item:hover{
  background-color: var(--color-dark-pink);
 }

 #home{
   /* 백그라운드가 센터에 위치하고 반응형이 되도록 */
   background: url('imgs/background.png') center/cover no-repeat;
   padding: 40px;
   text-align: center;
 }

 .home__avatar{
   width: 250px;
   height: 250px;
   border-radius: 50%;
   border: 2px solid var(--color-white);
 }

 .home__title,
 .home__description{
   color: var(--color-white);
 }

 .home__contact{
   color: var(--color-white);
   font-size: var(--font-regular);
   font-weight: var(--weight-bold);
   margin: 24px;
   padding: 8px 12px;
   border: 2px solid var(--color-white);
   border-radius: var(--size-border-radius);
 }