/* 처음에 자주 쓰는 책이나, 폰트 사이즈를 글로벌로 정의해서 사용하는 것이 좋다. */
/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* animation */
  --anymation-duration: 300ms;
}

/*Universal tags*/
* {
    box-sizing: border-box;
}

/* 텍스트에 대한 설정을 할 것임.
Typography
 */

 /* 마진을 위아래로 8씩 주자. */

 body{
   margin: 0;
   font-family: sans-serif;
 }

 a{
   text-decoration: none;
   color: var(--color-white);
 }

 ul{
   list-style: none;
   padding-left: 0;
 }

 button{
   /* 버튼의 기본속성을 없애는 과정 */
   background-color: transparent;
   cursor: pointer;
   border: none;
   outline: none;
 }

 h1 {
   font-size: var(--font-large);
   font-weight: var(--weight-bold);
   color: var(--color-black);
   margin: 16px 0; 
   /* 마진에 원소개수 두개면 위아래 양옆.  4개면 시계방향*/
 }

 h2 {
   font-size: var(--weight-regular);
   font-weight: var(--weight-semi-bold);
   color: var(--color-black);
   margin: 8px 0;
 }

 h3 {
   font-size: var(--font-regular);
   font-weight: var(--weight-regular);
   color: var(--color-black);
   margin: 8px 0;
 }

  p {
   font-size: var(--font-regular);
   font-weight: var(--weight-regular);
   color: var(--color-black);
   margin: 4px 0;
 }

 /* Navbar */

 #navbar{
   display: flex;
   justify-content: space-between;
   background-color: var(--color-pink);
   align-items:center;
   color: var(--color-white);
   padding: 16px;
 }

 .navbar__menu{
   display: flex;
 }

 .navbar__logo{
   font-size: var(--font-medium);
   font-weight: var(--weight-semi-bold);
 }

 .navbar__menu__item{
   padding: 8px 12px;
   margin: 0 4px;
   /* 마우스를 갖다대면 마우스가 손모양이 되도록 */
   cursor: pointer;
   border-radius: var(--size-border-radius);
 }

 .navbar__menu__item.active{
   border: 1px solid var(--color-white);
 }

/* 마우스가 올라간 상태일때. */
 .navbar__menu__item:hover{
  background-color: var(--color-dark-pink);
 }

 #home{
   /* 백그라운드가 센터에 위치하고 반응형이 되도록 */
   background: url('imgs/background.png') center/cover no-repeat;
   padding: 40px;
   text-align: center;
 }

 .home__avatar{
   width: 250px;
   height: 250px;
   border-radius: 50%;
   border: 2px solid var(--color-white);
 }

 .home__title,
 .home__description{
   color: var(--color-white);
 }

 .home__contact{
   color: var(--color-white);
   font-size: var(--font-regular);
   font-weight: var(--weight-bold);
   margin: 24px;
   padding: 8px 12px;
   border: 2px solid var(--color-white);
   border-radius: var(--size-border-radius);
 }

 /* 다들 중간에 모여있으니까 공통적인거를 따로 만들어두자.*/
 /* section common */

 .section{
   padding: 50px;
   text-align: center;
   margin: auto;
   /* 마진이 양쪽으로 골고루 분산되도록 하는것. */
 }

 .section__container{
   max-width: 1200px;
   text-align: center;
   margin: auto;
 }

 /* About */
 .about__majors{
   display: flex;
   justify-content: space-between;
   margin: 80px 0;
 }

 /* 이거 아이콘 만들면서 확인하긴 어려우니까백그라운드 색깔 깔면서 하면 좋음 */
 .major__icon{
   width: 170px;
   height: 170px;
   font-size: 70px;
   line-height: 170px;
   margin: auto;
   color: var(--color-blue);
   border: 1px solid var(--color-blue);
   border-radius: 50%;
   margin-bottom: 16px;
 }

 .major__icon i{
   transition: all var(--anymation-duration) ease;
 }
 /* 아이콘 동그라미에 호버가 되었을때
 안에있는 아이콘에 스타일링을 적용할 것임 */
 .major__icon:hover i{
   color : var(--color-pink);
   transform: rotate(-30deg) scale(1.1);
 }

 .major__title.major__description{
   color: var(--color-dark-grey);
 }

 .major__description{
   font-size: var(--font-small);
 }

 .job{
   display: flex;
   align-items: center;
 }

 .job__description{
   margin: 0 16px;
   text-align: left;
 }

 .job__name,.job__period{
   color: var(--color-light-grey);
 }

 .job__name{
   font-size: var(--font-small);
 }

 .job__logo{
   width: 170px;
 }

 .job__period{
   font-size: var(--font-micro);
 }

 /* Skill*/
 #skills{
   background-color: var(--color-yellow);
   padding: 40px 0;
 }

 .skillset__title{
   color: var(--color-light-white);
 }
 .skillset{
   display: flex;
   background-color: var(--color-light-grey);
   color: var(--color-light-white);
   margin: 20px 0;
   
 }

 .skillset__left{
   flex-basis: 60%;
   background-color: var(--color-dark-grey);
   padding: 20px 40px;
 }

 .skill{
   margin-bottom: 32px;
 }
 .skill__description{
   display: flex;
   justify-content: space-between;

 }

 /* div라서 박스 표시 해줄려면 너비랑 높이 지정해줘야함. */
 .skill__bar{
   width: 100%;
   height: 3px;
   background-color: var(--color-grey);
 }
 .skill__value{
   width: 70%;
   height: 3px;
   background-color: var(--color-orange);
 }
 .skillset__right{
   flex-basis: 40%;
 }

 .tools{
   background-color: var(--color-grey);
 }

 .tools,.etc{
   padding: 20px;
 }

 /* work */

 .work__categories{
   margin: 40px;
 }
 .category__btn{
   border: 1px solid var(--color-dark-white);
   border-radius: var(--size-border-radius);
   font-size: var(--font-regular);
   padding: 8px 48px;
 }

 .category__btn.active,
 .category__btn:hover{
  background-color: var(--color-pink);
  color: var(--color-white);
 }

 .category__btn.active .category__count,
 .category__btn:hover .category__count{
   opacity: 1;
   top: 0;
 }

 .category__count{
   background-color: var(--color-orange);
   border-radius: 50%;
   color: var(--color-white);
   width: 24px;
   height: 24px;
   line-height: 24px;
   display: inline-block;

   position: relative;
   top: -20px;
   left: 4px;
   opacity: 0;;
   transition: all var(--anymation-duration);
 }

 .work__projects{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .project {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 280px;
   height: 250px;
   margin: 2px;
   background-color: var(--color-light-white);
 }

 .project__img{
   max-width: 100%;
   max-height: 100%;
 }

 .project__description{
   position: absolute;
   background-color: var(--color-black);
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   transition: all var(--anymation-duration);
   transform: translateY(10px);
 }

 .project:hover .project__description{
   opacity: 0.8;
   transform: translateY(0px);
 }
 .project__description h3{
   color: var(--color-white)
 }

 .project__description h3:after{
   content: '';
   display: block;
   position: relative;
   left: 50%;
   width: 25px;
   height: 2px;
   margin-left: -12px;
   margin-top: 8px;
   background-color: var(--color-dark-white);
  
 }